/* 코드 라인 */
pre {
    background: #2d2b29;
    border-radius: 8px;
    color: #ffffff;
    font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
    margin: 16px 0;
    padding: 12px 16px;
    width: 600px;

    code {
        background: none;
        font-size: 14px;
        padding: 0;
    }
}

/* 리스트 */
ul,
ol {
    padding: 10px 32px 10px 22.4px;

    li p {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

ol li::marker {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
}

h1 {
    font-size: 30px;
    margin: 10px 0;
}

h2 {
    font-size: 24px;
    margin: 10px 0;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
}

p {
    margin: 5px 0px;
}

h1,
h2,
h3 {
    font-weight: bolder;
}

hr {
    margin: 16px 0;
}

/* 이미지 리사이저 */
.image-resizer-n,
.image-resizer-e,
.image-resizer-s,
.image-resizer-w {
    visibility: hidden;
}

.image-component {
    margin: 16px 0;
    /* 1rem -> 16px */
}

.node-imageComponent {
    display: flex;
    width: 100%;
}

/* 링크를 걸어놓은 텍스트 */
.ProseMirror a {
    text-decoration: underline;
    color: blue;
    text-decoration-color: blue;
    cursor: pointer;
}

.ProseMirror a:hover {
    text-decoration: underline;
}

/* 강조 하이라이트 */
.highlight {
    padding: 2.5px 0;
}

/* 드래그 핸들 관련 */
.drag-handle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 4px 2px;
    cursor: grab;
}

.drag-handle:hover {
    background-color: #f0f0f0;
}

.editor-title::placeholder {
    color: #dcdcdc;
}

.ProseMirror {
    margin: 0px;
    height: 100%;
}

.tiptap p.is-empty::before {
    color: #e1e1e0;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}