@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', system-ui, sans-serif;
}

/* Chrome, Safari, Edge.. */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.slide-down {
  animation: slideDown 0.5s forwards;
}

.slide-up {
  animation: slideUp 0.5s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.flexbox-fix:nth-child(3) div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox-fix:nth-child(3) div input {
  text-align: center;
}

@keyframes vibrate {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-1.5px);
  }

  50% {
    transform: translateX(1.5px);
  }

  75% {
    transform: translateX(-1.5px);
  }

  100% {
    transform: translateX(1.5px);
  }
}

.vibrate {
  display: inline-block;
  animation: vibrate 0.3s infinite;
}